:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:rgb(8, 134, 245);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --lightcolor: grey;
    --border:.2rem solid rgb(0, 0, 0);
    --outline:.17rem solid rgb(0, 0, 0);
    ---outline-hover:.2rem solid(var(--black));
}
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body{
    background: #eee;
}
html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    height: 9rem;
    background: white;
    align-items: center;
    width: 100%;
    position: fixed;
    font-size: 1.4rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    z-index: 100;
}
.logo{
    margin-left: 11rem;
}
header h1 i{
    color: var(--light-color);
    margin: 1rem;
}
.navbar a {
margin-right: 2rem;
color:var(--lightcolor);
font-size: 1.7rem;
}
.navbar a:hover{
    color:var(--light-color);
}
.home{
    display: flex;
    background-image:url("zz.webp");
    padding-top: 20rem;
    padding-bottom: 16rem;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}
.home .content h1{
    font-size: 3rem;
    text-align: center;
}
.home .content h1 span{
    color: var(--light-color);
}
.home .content p{
    color:var(--black);
    font-size: 1.7rem;
    padding: 1rem;
    text-align: center;
    line-height: 6rem;
}
.home .content .btn1{
    color: rgb(13, 13,13);
    border: 1.2px solid rgb(13, 13,13);
    height: 4rem;
    width: 12rem;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    margin-left: 27rem;
    font-size: 1.7rem;
    background-color: transparent;
    transition: 0.4s ease;
    box-shadow:var(--box-shadow);
    outline: var(--outline);
}
.home .content .btn1:hover{
    background-color: black;
    color: white;
}
.features{
    padding:2rem 9%;
}
.features h1{
    text-align: center;
    margin: 1.5rem;
    color: var(--black);
    font-size: 3rem;
}
.features h1 span{
    background-color:rgb(204, 13, 13);
    padding: 1.1rem;
    clip-path:polygon(100%  0%, 93% 53%, 100% 101%, 0% 100%, 7% 50%, 0% 0%);
    color: white;
}
.features .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.features .box-container .box{
    margin: 1.3rem;
    outline: var(--outline);
    background-color: white;
    height: 37rem;
    text-align: center;
    outline-offset: -1rem;
}
.features .box-container .box:hover{
    outline-offset: 0rem;
    outline: var(---outline-hover);
}
.features .box-container .box img{
    margin: 2rem 0rem;
    height: 15rem;
}
.features .box-container .box h3{
    margin: 1rem;
    font-size: 2rem;
    color: var(--light-color);
}
.features .box-container .box p{
    font-size: 1.5rem;
    color: var(--lightcolor);
    margin: 1rem;
}
.features .box-container .box .btnn{
    color: rgb(13, 13,13);
    border: 1.2px solid rgb(13, 13,13);
    height: 3rem;
    width: 10rem;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    margin-left: 1rem;
    font-size: 1.4rem;
    background-color: transparent;
    transition: 0.4s ease;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
}
.features .box-container .box .btnn:hover{
    background-color: var(--black);
    color: white;
}
.products{
    padding: 2rem 15%;
}
.products h1{
    text-align: center;
    margin: 1.5rem;
    color: var(--black);
    font-size: 3rem;
    padding: 2rem 0rem;
}
.products h1 span{
    background-color:rgb(204, 13, 13);
    padding: 1.1rem;
    clip-path:polygon(100%  0%, 93% 53%, 100% 101%, 0% 100%, 7% 50%, 0% 0%);
    color: white;
}
.products .product-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 1.5rem;
}
.products .product-container .box{
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    outline-offset: -1rem;
}
.products .product-container .box img{
    height: 19rem;
}
.products .product-container .box h3{
    font-size: 2.3rem;
    color: var(--black);
}
.products .product-container .box .price{
    font-size: 1.8rem;
    margin: 0.5rem 0rem;
}
.products .product-container .box .star{
    color: var(--orange);
    font-size: 1.6rem;
    padding: 0.5rem;
}
.products .product-container .box .btnn1{
    color: rgb(13, 13,13);
    border: 1.2px solid rgb(13, 13,13);
    height: 3rem;
    width: 12rem;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    margin-left: 0rem;
    font-size: 1.4rem;
    background-color: transparent;
    transition: 0.4s ease;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
}
.products .product-container .box .btnn1 a{
    color: var(--black);
}
.products .product-container .box .btnn1:hover{
    background-color: orange;
}
.products .product-container .box .btnn1 a:hover{
    color: white;
}
.products .product-container .box:hover{
    outline-offset: 0rem;
    outline: var(---outline-hover); 
}
.category{
    padding:2rem 9%;
}
.category h1{
    text-align: center;
    margin: 1.5rem;
    font-size: 3rem;
    padding: 2rem 0rem;
    color: var(--black);
}
.category h1 span{
    background-color:rgb(204, 13, 13);
    padding: 1.1rem;
    clip-path:polygon(100%  0%, 93% 53%, 100% 101%, 0% 100%, 7% 50%, 0% 0%);
    color: white;
}
.category .product-category{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 4rem;
    margin-left: 2rem;
}
.category .product-category .box{
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    outline-offset: -1rem;
}
.category .product-category .box:hover{
    outline-offset: 0rem;
    outline: var(---outline-hover);
}
.category .product-category .box img{
    height: 20rem;
}
.category .product-category .box h3{
    font-size: 2.3rem;
    color: var(--black);
}
.category .product-category .box .btn{
    color: rgb(13, 13,13);
    border: 1.2px solid rgb(13, 13,13);
    height: 3rem;
    width: 12rem;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    margin-left: 0rem;
    font-size: 1.4rem;
    background-color: transparent;
    transition: 0.4s ease;
    box-shadow: var(--box-shadow);
    outline: var(--outline);  
}
.category .product-category .box .btn:hover{
    color: white;
    background-color: var(--orange);
}
.category .product-category .box .discount{
    font-size: 1.5rem;
    padding: 1rem;
    color:orangered;
}
.review{
    padding: 2rem 9%;
}
.review h1{
    text-align: center;
    margin: 1.5rem;
    font-size: 3rem;
    padding: 2rem 0rem;
    color: var(--black);
}
.review h1 span{
    background-color:rgb(204, 13, 13);
    padding: 1.1rem;
    clip-path:polygon(100%  0%, 93% 53%, 100% 101%, 0% 100%, 7% 50%, 0% 0%);
    color: white;  
}
.review .review-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 4rem;
    margin-left: 2rem; 
}
.review .review-container .box{
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow); 
}
.review .review-container .box:hover{
    outline-offset: 0rem;
    outline: var(---outline-hover); 
}
.review .review-container .box img{
    border-radius: 50rem;
    height: 12rem;
    margin-bottom: 1rem;
}
.review .review-container .box p{
    font-size: 1.6rem;
    color:var(--lightcolor);
    padding: 2rem;
    line-height: 1.5rem;
}
.review .review-container .box h3{
    color: var(--black);
    font-size: 2rem;
    padding: 1.5rem;
}
.review .review-container .box .star{
    color: #ff7800;
    font-size: 1.5rem;
}
.blog{
    padding: 2rem 9%;
}
.blog h1{
    text-align: center;
    margin: 1.5rem;
    font-size: 3rem;
    padding: 2rem 0rem;
    color: var(--black);
}
.blog h1 span{
    background-color:rgb(204, 13, 13);
    padding: 1.1rem;
    clip-path:polygon(100%  0%, 93% 53%, 100% 101%, 0% 100%, 7% 50%, 0% 0%);
    color: white;  
}
.blog .blog-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr)); 
}
.blog .blog-container .box{
    background-color: white;
    border-radius: 0.4rem;
    margin: 3rem 2rem;
    height: 43rem;
    box-shadow: var(--box-shadow);
}
.blog .blog-container .box img{
    width: 100%;
    height: 18rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.blog .blog-container .box .icon{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: var(--black);
    margin: 1rem 1rem;
    cursor: pointer;
}
.blog .blog-container .box .icon i{
    color:var(--orange);
    padding: 0.5rem;
}
.blog .blog-container .box h3{
 color: var(--black);
 font-size: 1.8rem;
 margin: 1rem;
 line-height: 4rem;
 border-top: 1px solid var(--black);
}
.blog .blog-container .box p{
    color: var(--lightcolor);
    font-size: 1.4rem;
    margin: 1rem;
    line-height: 2rem;
}
.blog .blog-container .box .btn{
    color: rgb(13, 13,13);
    border: 1.2px solid rgb(13, 13,13);
    height: 3rem;
    width: 12rem;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 1rem;
    font-size: 1.4rem;
    background-color: transparent;
    transition: 0.4s ease;
    box-shadow: var(--box-shadow);
    outline: var(--outline);   
}
.blog .blog-container .box .btn:hover{
    background-color: var(--orange);
    color: white;
}